---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                </section>
                <section>
                    <ul class="icons">
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        
                        {% if site.social_urls.youtube %}
                            <li>
                                <a href="{{ site.social_urls.youtube }}" class="icon fa-youtube">
                                    <span class="label">Youtube</span>
                                </a>
                            </li>
                        {% endif %}
                        
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                
                <section>
                    British/Australian living in Germany, studying a Bachelor of Information Technology in Games Design and Development.
                    I've spent 2019 developing 3D modeling proficiency and workflows, specifically for hard surface concept design. In this portfolio, I will publish the development of personal projects, as a means to record progress throughout my degree.
                    <p>Above are links to my Twitter where I regularly retweet inspiration from the 3D community and news about new software or workflows; Instagram where work in progress renders are shared and Youtube where I post tutorials for Blender and animated renderings that do not appear on this portfolio. If you would like to contact me regarding freelance please contact me on Instagram or Twitter where we can exchange personal information.</p>
                    Softwares of Interest and study:
                    Blender 2.8, HardOps, Boxcutter, MeshMachine, Moi3D and Unreal Engine using C++

                    <iframe width="420" height="315"
src="https://www.youtube.com/watch?v=TF-dElxMwRM">
</iframe>

                </section>
            
                <p class="copyright">
                    &copy; {{ site.author }}.
                </p>
            </div>
        </div>
    </footer>
</div>
